openapi: 3.1.0
info:
  title: cards402 Agent API
  version: 0.1.0
  description: |
    CSPR402 hackathon MVP API.

    Flow:
    1. Create an order.
    2. Receive Casper testnet CSPR or mockUSDC CEP-18 payment instructions.
    3. Submit the requested transfer from the client wallet or agent.
    4. Call the verify endpoint with the resulting deploy hash.
    5. Receive a simulated virtual card and Casper receipt.

    Authentication: every request requires an `X-Api-Key` header with a valid API key.

    Idempotency: `POST /orders` accepts an `Idempotency-Key` header. Duplicate
    requests with the same body return the cached response for 24 hours.
  contact:
    name: cards402
    url: https://cards402.com
  license:
    name: Proprietary

servers:
  - url: https://api.cards402.com/v1
    description: Production
  - url: http://localhost:4000/v1
    description: Local development

security:
  - apiKey: []

paths:
  /orders:
    post:
      operationId: createOrder
      summary: Create a new card order
      description: |
        Creates a pending order and returns Casper testnet native CSPR
        payment instructions by default. Set `payment_asset: mock_usdc_cep18`
        with `payer_public_key` to use the mockUSDC CEP-18 test-token rail.

        For amounts above the policy approval threshold, returns 202 with
        `phase: awaiting_approval` instead of payment instructions.
      parameters:
        - name: Idempotency-Key
          in: header
          schema:
            type: string
            maxLength: 255
          description: Same key plus same body returns the cached order response for 24 hours.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrderRequest'
      responses:
        '201':
          description: Order created, waiting for Casper payment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderCreatedResponse'
        '202':
          description: Order requires owner approval before payment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderAwaitingApprovalResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          description: Idempotency-Key reused with a different body
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          $ref: '#/components/responses/RateLimited'
        '503':
          description: Fulfillment system temporarily unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

    get:
      operationId: listOrders
      summary: List this agent's orders
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum:
              [
                pending_payment,
                ordering,
                awaiting_approval,
                delivered,
                failed,
                refunded,
                refund_pending,
                expired,
                rejected,
              ]
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 200
            default: 20
        - name: offset
          in: query
          schema:
            type: integer
            minimum: 0
            default: 0
        - name: since_created_at
          in: query
          schema:
            type: string
            format: date-time
        - name: since_updated_at
          in: query
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: Array of order summaries
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OrderListItem'

  /orders/{orderId}:
    get:
      operationId: getOrder
      summary: Get order details
      description: |
        Returns the current state of an order. When `phase` is `ready`,
        the `card` object contains the simulated virtual card details.
      parameters:
        - name: orderId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Order details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderStatus'
        '404':
          $ref: '#/components/responses/NotFound'

  /orders/{orderId}/stream:
    get:
      operationId: streamOrder
      summary: Subscribe to live order phase updates
      description: |
        Server-Sent Events stream of phase transitions for a single order.
        The server sends an immediate event with the current phase, emits a
        new event every time the order changes, and closes the stream when
        the order reaches a terminal phase.
      parameters:
        - name: orderId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: SSE stream
          content:
            text/event-stream:
              schema:
                type: string
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /orders/{orderId}/verify-payment:
    post:
      operationId: verifyCasperPayment
      summary: Verify a Casper testnet payment
      description: |
        Verifies the submitted deploy hash against the order's quoted
        recipient, amount, chain, and correlation data. CSPR orders verify
        native transfer ID; mockUSDC CEP-18 orders verify sender, package hash,
        entry point, recipient, and amount. On success, the backend fulfills
        exactly one simulated virtual card and returns the receipt plus the
        updated order.
      parameters:
        - name: orderId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VerifyCasperPaymentRequest'
      responses:
        '200':
          description: Casper payment verified and order fulfilled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerifyCasperPaymentResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: Order or deploy hash cannot be claimed in the current state
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '410':
          description: Order payment window expired
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Deploy found but failed validation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '425':
          description: Deploy not found yet or not executed yet
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /usage:
    get:
      operationId: getUsage
      summary: Get this agent's spend summary and budget
      responses:
        '200':
          description: Budget and order count summary
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsageSummary'

  /policy/check:
    get:
      operationId: checkPolicy
      summary: Dry-run policy check without creating an order
      parameters:
        - name: amount
          in: query
          required: true
          schema:
            type: number
            exclusiveMinimum: 0
      responses:
        '200':
          description: Policy evaluation result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicyCheckResult'
        '400':
          $ref: '#/components/responses/BadRequest'

components:
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: X-Api-Key
      description: API key from the cards402 dashboard

  schemas:
    CreateOrderRequest:
      type: object
      required: [amount_usdc]
      properties:
        amount_usdc:
          type: string
          pattern: '^\d+(\.\d{1,2})?$'
          description: Positive USD amount string from 0.01 to 10000.00
        payment_asset:
          type: string
          enum: [cspr_casper, mock_usdc_cep18]
          description: Defaults to cspr_casper. mock_usdc_cep18 requires payer_public_key.
        payer_public_key:
          type: string
          description: Casper payer public key required for mock_usdc_cep18 orders.
        webhook_url:
          type: string
          format: uri
        metadata:
          type: object
          additionalProperties: true

    PaymentInstructions:
      oneOf:
        - $ref: '#/components/schemas/CasperCSPRPaymentInstructions'
        - $ref: '#/components/schemas/MockUsdcCep18PaymentInstructions'

    CasperCSPRPaymentInstructions:
      type: object
      required:
        [
          type,
          network,
          chain_name,
          recipient,
          order_id,
          amount_usdc,
          amount_cspr,
          amount_motes,
          transfer_id,
          expires_at,
        ]
      properties:
        type:
          type: string
          enum: [casper_cspr_transfer]
        network:
          type: string
          enum: [testnet]
        chain_name:
          type: string
          enum: [casper-test]
        recipient:
          type: string
          description: Casper treasury public key hex
        order_id:
          type: string
          format: uuid
        amount_usdc:
          type: string
        amount_cspr:
          type: string
        amount_motes:
          type: string
        transfer_id:
          type: integer
        expires_at:
          type: string
          format: date-time

    MockUsdcCep18PaymentInstructions:
      type: object
      required:
        [
          type,
          asset,
          decimals,
          network,
          chain_name,
          contract_package_hash,
          sender_public_key,
          recipient_public_key,
          order_id,
          amount,
          amount_base_units,
          expires_at,
        ]
      properties:
        type:
          type: string
          enum: [casper_cep18_transfer]
        asset:
          type: string
          enum: [mockUSDC]
        decimals:
          type: integer
          enum: [6]
        network:
          type: string
          enum: [testnet]
        chain_name:
          type: string
          enum: [casper-test]
        contract_package_hash:
          type: string
          description: CEP-18 package hash verified by the backend
        contract_hash:
          type: string
          nullable: true
        sender_public_key:
          type: string
        recipient_public_key:
          type: string
        order_id:
          type: string
          format: uuid
        amount:
          type: string
        amount_base_units:
          type: string
        expires_at:
          type: string
          format: date-time
        verify_url:
          type: string
          nullable: true

    VerifyCasperPaymentRequest:
      type: object
      required: [deploy_hash]
      properties:
        deploy_hash:
          type: string
          pattern: '^[0-9a-fA-F]{64}$'
        sender_public_key:
          type: string
          description: Required for mock_usdc_cep18; optional stricter verification for CSPR.

    Budget:
      type: object
      required: [spent_usdc, in_flight_usdc, committed_usdc]
      properties:
        spent_usdc:
          type: string
        in_flight_usdc:
          type: string
        committed_usdc:
          type: string
        limit_usdc:
          type: string
          nullable: true
        remaining_usdc:
          type: string
          nullable: true

    CardDetails:
      type: object
      required: [number, cvv, expiry]
      properties:
        number:
          type: string
        cvv:
          type: string
        expiry:
          type: string
        brand:
          type: string
          nullable: true

    OrderCreatedResponse:
      type: object
      required: [order_id, status, phase, amount_usdc, payment, poll_url, budget]
      properties:
        order_id:
          type: string
          format: uuid
        status:
          type: string
          enum: [pending_payment]
        phase:
          type: string
          enum: [awaiting_payment]
        amount_usdc:
          type: string
        payment:
          $ref: '#/components/schemas/PaymentInstructions'
        poll_url:
          type: string
        budget:
          $ref: '#/components/schemas/Budget'
        sandbox:
          type: boolean

    OrderAwaitingApprovalResponse:
      type: object
      required: [order_id, phase, approval_request_id, amount_usdc]
      properties:
        order_id:
          type: string
          format: uuid
        phase:
          type: string
          enum: [awaiting_approval]
        approval_request_id:
          type: string
          format: uuid
        amount_usdc:
          type: string
        message:
          type: string
        note:
          type: string
        expires_at:
          type: string
          format: date-time

    OrderPhase:
      type: string
      enum:
        - awaiting_approval
        - awaiting_payment
        - processing
        - ready
        - failed
        - refunded
        - rejected
        - expired

    OrderListItem:
      type: object
      required: [id, status, amount_usdc, payment_asset, created_at, updated_at]
      properties:
        id:
          type: string
          format: uuid
        status:
          type: string
        amount_usdc:
          type: string
        payment_asset:
          type: string
          enum: [cspr_casper, mock_usdc_cep18]
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    OrderStatus:
      type: object
      required: [order_id, status, phase, amount_usdc, created_at, updated_at]
      properties:
        order_id:
          type: string
          format: uuid
        status:
          type: string
        phase:
          $ref: '#/components/schemas/OrderPhase'
        amount_usdc:
          type: string
        payment_asset:
          type: string
          enum: [cspr_casper, mock_usdc_cep18]
        payment:
          $ref: '#/components/schemas/PaymentInstructions'
        receipt:
          $ref: '#/components/schemas/CasperPaymentReceipt'
        card:
          $ref: '#/components/schemas/CardDetails'
        error:
          type: string
          nullable: true
        note:
          type: string
          nullable: true
        metadata:
          type: object
          additionalProperties: true
        approval_request_id:
          type: string
          format: uuid
        expires_at:
          type: string
          format: date-time
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    CasperPaymentReceipt:
      oneOf:
        - $ref: '#/components/schemas/CasperCSPRPaymentReceipt'
        - $ref: '#/components/schemas/MockUsdcReceipt'

    CasperCSPRPaymentReceipt:
      type: object
      required:
        [
          type,
          order_id,
          payment_asset,
          network,
          chain_name,
          deploy_hash,
          transfer_id,
          card_mode,
        ]
      properties:
        type:
          type: string
          enum: [casper_cspr_receipt]
        order_id:
          type: string
          format: uuid
        payment_asset:
          type: string
          enum: [cspr_casper]
        network:
          type: string
        chain_name:
          type: string
        deploy_hash:
          type: string
        sender_public_key:
          type: string
          nullable: true
        recipient:
          type: string
          nullable: true
        transfer_id:
          type: integer
        amount_motes:
          type: string
          nullable: true
        verified_at:
          type: string
          format: date-time
          nullable: true
        card_mode:
          type: string
          enum: [mock]

    MockUsdcReceipt:
      type: object
      required:
        [
          type,
          order_id,
          payment_asset,
          network,
          chain_name,
          deploy_hash,
          asset,
          decimals,
          card_mode,
        ]
      properties:
        type:
          type: string
          enum: [casper_mock_usdc_receipt]
        order_id:
          type: string
          format: uuid
        payment_asset:
          type: string
          enum: [mock_usdc_cep18]
        network:
          type: string
        chain_name:
          type: string
        deploy_hash:
          type: string
        sender_public_key:
          type: string
          nullable: true
        asset:
          type: string
          enum: [mockUSDC]
        decimals:
          type: integer
        contract_package_hash:
          type: string
          nullable: true
        contract_hash:
          type: string
          nullable: true
        recipient_public_key:
          type: string
          nullable: true
        recipient_account_hash:
          type: string
          nullable: true
        amount_base_units:
          type: string
          nullable: true
        verified_at:
          type: string
          format: date-time
          nullable: true
        card_mode:
          type: string
          enum: [mock]

    VerifyCasperPaymentResponse:
      type: object
      required: [ok, receipt, order]
      properties:
        ok:
          type: boolean
          enum: [true]
        note:
          type: string
        receipt:
          $ref: '#/components/schemas/CasperPaymentReceipt'
        order:
          $ref: '#/components/schemas/OrderStatus'

    UsageSummary:
      type: object
      required: [api_key_id, budget, orders]
      properties:
        api_key_id:
          type: string
        label:
          type: string
          nullable: true
        budget:
          $ref: '#/components/schemas/Budget'
        orders:
          type: object
          required: [total, delivered, failed, refunded, in_progress]
          properties:
            total:
              type: integer
            delivered:
              type: integer
            failed:
              type: integer
            refunded:
              type: integer
            in_progress:
              type: integer

    PolicyCheckResult:
      type: object
      required: [decision]
      properties:
        decision:
          type: string
          enum: [approved, blocked, pending_approval]
        rule:
          type: string
          nullable: true
        reason:
          type: string
          nullable: true

    ErrorResponse:
      type: object
      required: [error]
      properties:
        error:
          type: string
        message:
          type: string
        details:
          type: object
          additionalProperties: true

  responses:
    BadRequest:
      description: Invalid request body or parameters
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Unauthorized:
      description: Missing or invalid API key
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    RateLimited:
      description: Too many requests
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
